<app-spinner [wip]="wip"></app-spinner>
<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-5 text-center">
      Hola {{user.name}}, porfa escribe tu nueva contraseña.
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 mb-2">
      <hr />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <app-alert *ngIf="showAlert" type="error" [message]="messageAlert"></app-alert>
    </div>
  </div>
  <form *ngIf="!passwordReset" [formGroup]="formGroup">
    <div class="row justify-content-center">
      <div class="col-md-5 form-floating mb-3">
        <input class="form-control" type="password" formControlName="password" id="floatingPassword" placeholder="Nueva contraseña" autocomplete="off">
        <label style="left: 15px;" for="floatingPassword">Nueva contraseña</label>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5 form-floating mb-3">
        <input class="form-control" type="password" formControlName="confirmPassword" id="floatingConfirmPassword" placeholder="Confirma la contraseña" autocomplete="off">
        <label style="left: 15px;" for="confirmPassword">Confirma la contraseña</label>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="row justify-content-center">
          <div class="col-md-6 mb-3 ml-1">
            <button type="button" class="btn btn-danger button-register-create"
              (click)="resetPassword(formGroup.value)" [disabled]="!formGroup.valid">Restablecer contraseña</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="passwordReset" class="row justify-content-center">
    <div class="col-md-3">
      <p>Contraseña actualizada correctamente</p>
    </div>
  </div>
</div>
