<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-12 text-center">
      <h3>Política de Privacidad</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12 mb-2">
      <hr />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12 mb-2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit facilisi in integer, cras cum aenean per nullam magna sed
        rutrum nisl, accumsan consequat felis sociosqu nunc ligula neque sociis ante. Ligula eget ornare mattis
        facilisis euismod penatibus aliquam ac, conubia vestibulum dapibus netus et pellentesque nisi, primis curabitur
        elementum tellus neque mus non. Habitasse conubia at laoreet urna leo, consequat hendrerit aliquam nisi arcu,
        suspendisse diam donec praesent.
        Malesuada vivamus faucibus tortor eros penatibus consequat pulvinar conubia interdum hac, euismod rutrum magnis
        aliquam senectus at rhoncus elementum lacus quam, orci ante lectus luctus curabitur sapien mollis a tristique.
        Mattis urna dignissim libero arcu lacus hac nam proin cursus rutrum ante dapibus massa, neque dictum laoreet
        magna lacinia taciti justo eleifend tellus condimentum penatibus. Id parturient egestas fusce porttitor cras a
        nascetur venenatis sollicitudin, per duis tempus congue nulla ornare inceptos eget porta hendrerit, senectus
        euismod justo nec mattis varius vel placerat.
      </p>
    </div>
  </div>
</div>