<app-spinner [wip]="wip"></app-spinner>
<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-5 text-center">
      ¿Has olvidado la contraseña?
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 mb-2">
      <hr />
    </div>
  </div>
  <form *ngIf="!emailSent" [formGroup]="formGroup">
    <div class="row justify-content-center">
      <div class="col-md-5 form-floating mb-3">
        <input class="form-control" formControlName="email" id="floatingEmail" placeholder="Correo electrónico" autocomplete="off">
        <label style="left: 15px;" for="floatingEmail">Correo electrónico</label>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="row justify-content-center">
          <div class="col-md-6 mb-3 ml-1">
            <button type="button" class="btn btn-danger button-register-create"
              (click)="sendEmailForgotPassword(formGroup.value)" [disabled]="!formGroup.valid">Restablecer contraseña</button>
          </div>
          <div class="col-md-4 mt-2">
            o <a routerLink="/login">Iniciar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="emailSent" class="row justify-content-center">
    <div class="col-md-3">
      <p>Se le envió un correo electrónico para reiniciar su constraseña</p>
    </div>
  </div>
  <!-- <div class="row justify-content-center">
    <div class="col-md-5 text-center">
      o <a routerLink="/using-conditions" target="_blank">¿Has olvidado la contraseña?</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <hr />
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-md-5 text-center">
      ¿No tienes una cuenta? <a routerLink="/register">Regístrate</a>
    </div>
  </div> -->
</div>